:root {
	--button__color: var(--color--f2-1);
	--button__color_hover: var(--color--f2-1);
	--button__color_active: var(--color--f2-1);
	--button__color_disabled: var(--color--f2-1);

	--button__background: var(--color--f1-1);
	--button__background_hover: var(--color--f1-2);
	--button__background_active: var(--color--f1-0);
	--button__background_disabled: var(--color--f1-1);

	--button__border: var(--color--f1-1);
	--button__border_hover: var(--color--f1-2);
	--button__border_active: var(--color--f1-0);
	--button__border_disabled: var(--color--f1-1);

	--button-secondary__color: var(--color--f1-1);
	--button-secondary__color_hover: var(--color--f1-2);
	--button-secondary__color_active: var(--color--f1-0);
	--button-secondary__color_disabled: var(--color--f1-1);

	--button-secondary__border: none;
	--button-secondary__border_hover: none;
	--button-secondary__border_active: none;
	--button-secondary__border_disabled: none;

	--button-secondary__background: var(--color--f2-2);
	--button-secondary__background_hover: var(--color--f2-1);
	--button-secondary__background_active: var(--color--f2-0);
	--button-secondary__background_disabled: var(--color--f2-2);

	--button-text__color: var(--color--f1-1);
	--button-text__color_hover: var(--color--f1-2);
	--button-text__color_active: var(--color--f1-0);
	--button-text__color_disabled: var(--color--f1-1);

	--button-text__background: none;
	--button-text__background_hover: var(--color--f2-2);
	--button-text__background_active: var(--color--f2-0);
	--button-text__background_disabled: none;

	--button__radius: 12px;
	--button__border-size: 1px;
	--button__side-padding: 16px;

	--button__height_small: 32px;
	--button__height: 42px;
	--button__height_medium: 56px;
	--button__height_large: 80px;
	--button__width_small: var(--button__height_small);
	--button__width: var(--button__height);
	--button__width_medium: var(--button__height_medium);
	--button__width_large: var(--button__height_large);

	--button__label-height_small: 18px;
	--button__label-height: 24px;
	--button__label-height_medium: 36px;
	--button__label-height_large: 42px;
}
