@use "../../../styles/globals" as *;

.header {
	overflow: visible;
	align-self: flex-start;
	position: sticky;
	bottom: 0;
	background-color: var(--color--bg-1);
	z-index: 1;
	.container {
		padding-top: calc(var(--gap) / 4);
		padding-bottom: calc(var(--gap) / 4);
	}

	.header-panel {
		// .header-panel__navigation {
		// 	display: flex;
		// 	justify-content: end;
		// 	align-items: center;
		// 	gap: calc(var(--gap) * 2);
		// }
	}
	.navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.h4 {
			color: var(--color--f1-1);
			opacity: 80%;
		}
	}
}
