:root {
	--icon-large__width: 48px;
	--icon-large__height: var(--icon-large__width);

	--icon-medium__width: 32px;
	--icon-medium__height: var(--icon-medium__width);

	--icon__width: 24px;
	--icon__height: var(--icon__width);

	--icon-small__width: 18px;
	--icon-small__height: var(--icon-small__width);

	--icon__color: var(--color--f1-1);
	--icon__color_hover: var(--color--f1-2);
	--icon__color_active: var(--color--f1-0);
}
