.WelcomeScreen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
	z-index: 11000;
}

.languages {
	width: 320px;
	justify-content: space-evenly;
	position: absolute;
	bottom: 64px;
	display: flex;
	align-items: center;
}

.language {
	display: flex;
	gap: 4px;
	align-items: center;
	cursor: pointer;
	padding-left: 32px;
	&.active {
		padding-left: 4px;
	}
}
