@use "../globals/" as *;
@use "link__variables" as *;

.link {
	color: var(--color__link);
	text-decoration: underline;
	text-underline-offset: 2px;

	&.no-underline {
		text-decoration: none;
	}

	&.inversion {
		color: var(--color__link-inversion);
	}
	// text-decoration: none;
	@include animation-hover;
	@include hover {
		color: var(--color__link_hover);
		&.inversion {
			color: var(--color__link-inversion_hover);
		}
	}
	@include active {
		color: var(--color__link_active);
		transition: 0s;
		&.inversion {
			color: var(--color__link-inversion_active);
		}
	}

	@include disabled {
		color: var(--color__link_disabled);
		opacity: 60%;
		cursor: not-allowed;
		pointer-events: none;
		&.inversion {
			color: var(--color__link-inversion_disabled);
		}
	}
	// &.inversion {
	//     color: var(--color__ov_inversion);
	// @media (hover: hover) {
	//     &:hover {
	//         transition: all var(--time__medium) var(--animation__standard);
	//         color: var(--color__link-hover);
	//     }
	// }
	// }
}
