.section {
	display: flex;
	flex-direction: column;
	gap: 38px;
}

.sectionItem {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.sectionTitle {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.sectionDescription {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
