@use "~/asmlib/styles/globals/" as *;

.Home {
	background: var(--color--bg-0-gradient);
	padding: calc(var(--gap) * 4) 0;

	@include screen-xl {
		padding: calc(var(--gap) * 3) 0;
	}

	@include screen-lg {
		padding: calc(var(--gap) * 2) 0;
	}

	@include screen-md {
		padding: calc(var(--gap) * 1.5) 0;
	}
}

.container {
	display: flex;
	display: row;
	row-gap: calc(var(--gap) * 2);
}
