@use "../../../styles/globals" as *;

.footer {
	background-color: var(--color--bg-0);
	.container {
		@media (max-width: $screen-md) {
			padding-bottom: var(--gap);
		}
		.footer__icons {
			display: flex;
			align-items: center;
			gap: var(--gap);
			justify-content: center;
			@media (max-width: $screen-xs) {
				justify-content: space-between;
			}
		}
	}
}
