@use "~/ameliance-ui/styles/globals/" as *;

.description {
	flex-direction: row;
	gap: 8px;
	align-items: center;
}

.telegramButton {
	background: linear-gradient(-45deg, #278cff, #34b5ff);
	border: none;
	background-size: 600%;
	animation: telegram-button-animation 8s linear infinite;
	color: white;
	box-shadow: none;
	transition: box-shadow 0.5s ease-out;
	@include hover {
		transition: box-shadow 0.5s ease-out;
	}
}

:global(html[data-theme="dark"]) {
	.telegramButton {
		@include hover {
			box-shadow: 0 0 1000px 32px rgba(52, 181, 255, 1);
		}
	}
}

:global(html[data-theme="light"]) {
	.telegramButton {
		@include hover {
			box-shadow: 0 0 1000px 32px rgba(255, 255, 255, 1);
		}
	}
}

@keyframes telegram-button-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
