@use "~/asmlib/styles/globals/" as *;
@use "~/asmlib/styles/" as *;

html {
	scroll-padding-top: 32px;
}

body {
	position: relative;
	// background: var(--color--bg-0-gradient);
	// background-attachment: fixed;
	// background: linear-gradient(to top right, #badaff, #faffc1);
}

// >----------------------------------------------------------------<
// >                       CUSTOMIZING ASMLIB                       <
// >----------------------------------------------------------------<

:root {
	// ^------------------------ Typography ------------------------
	--typography__font-size_h1: 42px;
	--typography__font-size_h2: 24px;
	--typography__font-size_h3: 18px;
	--typography__font-size_h4: 14px;
	--typography__font-size_p1: 16px;
	--typography__font-size_p2: 12px;
	--typography__font-size_button: 16px;
	--typography__font-size_button-sm: 12px;
	--typography__font-size_button-icon: 16px;
	--typography__font-size_button-icon-sm: 12px;
	--typography__font-size_link: 16px;
	--typography__font-size_link-sm: 12px;
	--typography__font-size_input: 16px;

	@include screen-md {
		--typography__font-size_h1: 38px;
	}
}
