@use "~/asmlib/styles/globals/" as *;

.Navigation {
	overflow: visible;
	position: sticky;
	bottom: 0;
	background-color: var(--color--b1-1);
	z-index: 1;
}

.navItems {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: calc(var(--gap) / 2) 0;
	text-transform: uppercase;

	.link {
		line-height: 100%;
	}
}
